Config.xcconfig
build/
syokumemo/CLAUDE/
.swiftpm
.claude/commands/create-pull-request.md
GoogleService-Info.plist
syokumemo.xcodeproj/project.xcworkspace/xcuserdata/hina.xcuserdatad/UserInterfaceState.xcuserstate
